.main {
  width: 90%;
  padding: 20px 10px;
  margin: 0px auto;
  margin-top: 4rem;
}
.greet-main{
  width: 90%;
  padding: 20px 10px;
  margin: 0px auto;
  margin-top: 2rem;
}

.gretting-main {
  width: 90%;
  padding: 20px 10px;
  margin: 0px auto;
}

.greeting-main {
  display: flex;
}

.greeting-main > * {
  flex: 1;
  margin-bottom: 30px;
}
.button-greeting-div{
  display: flex;
  margin-top: 20px;
}

.greeting-text {
  font-size: 70px;
  line-height: 1.1;
  color: black;
}

.greeting-text-p {
  font-size: 21px;
  line-height: 40px;
  text-align: justify;
}

.greeting-image-div {
  padding-top: 60px;
}

/* .greeting-image-div > img {
  float: right;
  padding: 70px;
  position: right;
  max-width: 100%;
  height: auto;
  border: 3px solid #7f2fa3;
  border-radius: 50%;
  background-color: black;
} */

.greeting-image-div > img {
  float: right;
  padding: 70px;
  position: right;
  max-width: 45%;
  height: auto;
  border: 3px solid #7f2fa3;
  border-radius: 50%;
  /* background-color: black; */
}

/* Media Query */
@media (max-width: 1380px) {
  .greeting-text {
    font-size: 50px;
  }
  .greeting-text-p {
    font-size: 20px;
  }
}
@media (max-width: 768px) {
  .button-greeting-div{
    justify-content: space-around;
  }
  .greeting-text {
    font-size: 30px;
    text-align: center;
  }
  .greeting-text-p {
    font-size: 16px;
    line-height: normal;
    text-align: center;
  }
  .greeting-main {
    display: block;;
  }
}


@media only screen and (max-device-width: 1330px) {
  .greeting-image-div > img {
    max-width: 50%;
    padding: 70px;
    border: 3px solid #7f2fa3;;
  }

  @media only screen and (max-device-width: 480px) {
    /* styles for mobile browsers smaller than 480px; (iPhone) */
    .greeting-image-div > img {
      position: center;
      float: center;
      max-width: 0%;
      padding: 0px;
      border: 0px solid #7f2fa3;
    }

    .greeting-text {
      text-align: center;
    }
 }
}
/*https://stackoverflow.com/questions/13550541/media-min-width-max-width*/